<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/775c063c3d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="home">
        <i class="fa-solid fa-bars"></i>
        <a href="/"><h1> Seeun Site </h1></a>
    </header>
    <nav>
        <!--ul>li*5>a{메인메뉴$} -->
        <ul>
            <li><a href="/">소개</a></li>
            <li><a href="/shop">쇼핑몰</a></li>
            <li><a href="#">패키지</a></li>
            <li><a href="#">커뮤니티</a></li>
            <li><a href="#">겔러리</a></li>
        </ul>
    </nav>
</body>
</html>